body {
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.qt6Bf3ViW3M1IMYt2O5T4gHaE8?rs=1&pid=ImgDetMain&o=7&rm=3)
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
    color:black;
}
p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    color:blue;
}
img {
    width:20%;
    height:10%;
}
table {
    width:800px;
    height:460px; 
    border: solid Yellow;

}

